<template>
  <div class="hello" v-if="this.posts.length>0">
    <h1>Blog Posts</h1>
    <div class="card mt-2" style="width:18rem" v-for="post in posts" :key="post.id">
      <div class="card-body">
        <div>
          <p class="card-text">{{post.title.rendered}}</p>
        </div>
      </div>
    </div>
    </div>
</template>

<script>
import a from 'axios'

export default {
  name: 'Posts',
  data () {
    return {
      posts: [],
    }
  },
  mounted () {
    this.obtainposts()
  },
  methods: {
    obtainposts () {
      const axios = a.create({
      });
      axios.get('https://www.islas.org.mx/albatros-patas-negras/wp-json/wp/v2/posts')
        .then(response => {
            this.posts = response.data;
            console.log(response.data);
      });
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
